{% extends 'index/layout.html' %}
{% load static %}
{% load i18n %}
{% load get_response %}
{% load to_int %}
{% load is_response %}
{% block title %}{{form.title}} - TGL Forms{% endblock %}
{% block script %}
<script src="{% static 'index/viewform.js' %}" defer></script>
{% endblock %}
{% block body %}
<div class="container-fluid">
    <form class="container" method="POST" action="{% url 'edit_response' form.code response.response_code %}" autocomplete="off">
        <span id="bg-color" style="display: none;">{{form.background_color}}</span>
        <span id="text-color" style="display: none;">{{form.text_color}}</span>
        {% csrf_token %}
        <div class="margin-top-bottom box question-box">
            <div class="form-title-box">
                <h1 class="form-title txtClr">{{form.title}}</h1>
                <p class="required-info">* {{ word.required }}</p>
            </div>
            <div class="form-description txtClr">{{form.description|linebreaksbr}}</div>
        </div>
        {% if form.collect_email %}
        <div class="margin-top-bottom box question-box">
            <h1 class="question-title txtClr">{{ word.emailAddress }}: <span class="require-star">*</span></h1>
            <input type="email" name="email-address" class="short-answer" placeholder="Your email address" required value="{{response.responder_email}}">
        </div>
        {% endif %}
        {% for question in form.questions.all %}
        <div class="margin-top-bottom box question-box">
            {% if form.is_quiz %}
            <h1 class="question-title txtClr">{{question.question}} {% if question.required %}<span class="require-star">*</span>{% endif %}</h1>
            {% else %}
            <h1 class="question-title txtClr" oncopy = "return false">{{question.question}} {% if question.required %}<span class="require-star">*</span>{% endif %}</h1>
            {% endif %}
            {% if question.question_type == "short" %}
                <input type="text" name="{{question.id}}" class="short-answer" placeholder = "{{ word.yourAnswer }}" {% if question.required %} required {% endif %}
                value="{{response|get_response:question.pk}}">
            {% elif question.question_type == "paragraph" %}
                <textarea name="{{question.id}}" placeholder="{{ word.yourAnswer }}" class="long-answer textarea-adjust" 
                {% if question.required %} required {% endif %}>{{response|get_response:question.pk}}</textarea>
            {% elif question.question_type == "multiple choice" %}
                {% for choice in question.choices.all %}
                <div class="multiple-choice">
                    {% if response|get_response:question.pk|to_int == choice.pk|to_int %}
                    <input type="radio" name="{{question.id}}" id="{{choice.id}}" {% if question.required %} required {% endif %} value="{{choice.id}}" checked>
                    {% else %}
                    <input type="radio" name="{{question.id}}" id="{{choice.id}}" {% if question.required %} required {% endif %} value="{{choice.id}}">
                    {% endif %}
                    <label for="{{choice.id}}" class="txtClr">{{choice.choice}}</label>
                </div>
                {% endfor %}
            {% elif question.question_type == "checkbox" %}
            {% for choice in question.choices.all %}
                <div class="multiple-choice">
                    {% if response|get_responses:question.pk|is_response:choice.pk %}
                    <input type="checkbox" name="{{question.id}}" id="{{choice.id}}" {% if question.required %} required {% endif %} value="{{choice.id}}" checked>
                    {% else %}
                    <input type="checkbox" name="{{question.id}}" id="{{choice.id}}" {% if question.required %} required {% endif %} value="{{choice.id}}">
                    {% endif %}
                    <label for="{{choice.id}}" class="txtClr">{{choice.choice}}</label>
                </div>
                {% endfor %}
            {% endif %}
        </div>
        {% endfor %}
        <div class="margin-top-bottom">
            <input type="submit" value="Submit" class="btn btn-submit">
        </div>
    </form>
    {% if user == form.creator %}
        <a href="{% url 'edit_form' form.code %}">
            <img src="{% static 'Icon/clipboard.png' %}" alt="Edit Question" title="Edit this form" class="edit-form-link">
        </a>
    {% endif %}
</div>
{% endblock %}