{% extends 'index/layout.html' %}
{% block title %}
{{form.title}} - TGL Forms
{% endblock %}
{% load env_extras %}
{% load static %}
{% load i18n %}
{% block script %}
<script src="{% static 'index/form.js' %}"></script>
<script src="{% static 'lib/cookie.min.js' %}"></script>
{% endblock %}
{% block body %}
<div class = "container-fluid">
    <div class="header">
        <div class="box-shadow form-topnav">
            <div class="d-flex header-form-title">
                <a href = "/">
                    <img src = "{% static 'Icon/google-docs.png' %}" alt = "Google Forms Icon(CLONE)" class="img-fluid img-thumbnail" title = "Forms" />
                </a>
                <h1 class="nav-text" title = "Forms">{{form.title}}</h1>
                <span id='auto-save' style="margin-top: 20px; margin-left: 50px; font-weight: 500"></span>
                <!-- <input class="nav-text nav-form-title edit-on-click input-form-title" value  = "{{form.title}}" type="text"> -->
            </div>
            <div class="menu-tools">
                <img src="{% static 'Icon/paint.svg' %}" alt="Theme icon" id="customize-theme-btn" title = "Customize theme" class="nav-form-menu-icon" />
                <a href="{% url 'view_form' form.code %}" target="_blank">
                <img src="{% static 'Icon/eye.svg' %}" alt="Preview icon" title = "Preview" class="nav-form-menu-icon big-screen" />
                </a>
                <img src="{% static 'Icon/setting.svg' %}" alt="Setting icon" title = "{{ word.setting }}" class="nav-form-menu-icon open-setting" />
                <img src="{% static 'Icon/send-v1.svg' %}" alt="Send icon" title = "Send" class="nav-form-menu-icon" id="send-form-btn" />
                <!-- <a href="{% url 'logout' %}">
                    <img src = "{% static 'Icon/logout.svg' %}" alt = "Logout Icon" class="nav-form-menu-icon logout-icon" title = "Logout">
                </a> -->
                {% comment %} <div class="question-options box-shadow fade-in">
                    <img src = "{% static 'Icon/add.svg' %}" class="form-option-icon" title = "Add question" alt = "Add question icon" id="add-question" />
                    <a href="{% url 'view_form' form.code %}" target="_blank">
                        <img src = "{% static 'Icon/eye.svg' %}" class = "form-option-icon" title = "Preview" alt = "Preview icon" />
                    </a>
                    {% if form.is_quiz %}
                    <a href = "{% url 'score' form.code %}" id="add-score">
                        <img src = "{% static 'Icon/score.svg' %}" class = "form-option-icon" title = "Add score" alt = "Score icon" />
                    </a>
                    {% endif %}
                </div> {% endcomment %}
                <!-- <button class = "btn send-form-btn big-screen" title = "Send" id="send-form-btn">Send</button> -->
            </div>
            {% comment %} <img src="{% static 'Icon/options.png' %}" alt="Send icon" title = "Send" class="nav-form-menu-icon" id="menu-btn"/> {% endcomment %}
        </div>
        <div class="form-topnav shadow">
            <div class="form-navigation center">
                {% if form.is_quiz %}
                <span class="col-4 navigation active">{{ word.questions }}</span>
                <span class="col-4 navigation score"><a href = "{% url 'score' form.code %}" class="link">{{ word.scores }}</a></span>
                <span class="col-4 navigation"><a href = "{% url 'responses' form.code %}" class="link">{{ word.responses }}</a></span>
                {% else %}
                <span class="col-6 navigation active">{{ word.questions }}</span>
                <span class="col-6 navigation"><a href = "{% url 'responses' form.code %}" class="link">{{ word.responses }}</a></span>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="container-form fade-in" style="padding-bottom: 50px">
        <span id="bg-color" style="display: none;">{{form.background_color}}</span>
        <span id="text-color" style="display: none;">{{form.text_color}}</span>
        <div class="box-shadow margin-top-bottom box question-box" id="form-head">
            <div class="form-title-box">
                <input type="text" class="form-title edit-on-click input-form-title txt-clr" value="{{form.title}}">
            </div>
            <textarea class="form-description edit-on-click textarea-adjust txt-clr" rows="1" placeholder="{{ word.formDescription }}" spellCheck = "false"
            id="input-form-description">{{form.description}}</textarea>
            {% if form.collect_email %}
            <div class="collect-email txt-clr">
                <h3 class="question-title">{{ word.emailAddress }} <span class="require-star">*</span></h3>
                <input type="text" autocomplete="off" aria-label="Valid email address" disabled dir = "auto" class="require-email-edit txtColor"
                placeholder = "{{ word.validEmail }}" />
                <p class="collect-email-desc">{{ word.noteCollectingEmail }} <span class="open-setting">{{ word.changeSetting }}</span></p>
            </div>
            {% endif %}
        </div>
        {% for question in form.questions.all %}
        <div class="box-shadow margin-top-bottom box question-box question" data-id="{{question.id}}">
            <input type="text" data-id="{{question.id}}" class="question-title edit-on-click input-question" value="{{question.question}}">
            <select class="question-type-select input-question-type" data-id="{{question.id}}" data-origin_type = "{{question.question_type}}">
                <option value="short" {% if question.question_type == "short" %}selected{% endif %}>{{ word.shortAnswer }}</option>
                <option value="paragraph" {% if question.question_type == "paragraph" %}selected{% endif %}>{{ word.paragraph }}</option>
                <option value="multiple choice" {% if question.question_type == "multiple choice" %}selected{% endif %}>{{ word.multipleChoice }}</option>
                <option value="checkbox" {% if question.question_type == "checkbox" %}selected{% endif %}>{{ word.checkBox }}</option>
            </select>
            {% if question.question_type == "multiple choice" %}
            <div class="choices" data-id="{{question.id}}">
                {% for choice in question.choices.all %}
                    <div class="choice">
                        <input type="radio" id="{{choice.id}}" disabled>
                        <label for="{{choice.id}}">
                            <input type="text" value="{{choice.choice}}" class="edit-choice" data-id="{{choice.id}}">
                        </label>
                        <span class="remove-option" title = "Remove" data-id="{{choice.id}}">&times;</span>
                    </div>
                {% endfor %}
                <div class="choice-add">
                    <button for = "add-choice" class="add-option" data-question="{{question.id}}" data-type = "{{question.question_type}}">{{ word.addOption }}</button>
                </div>
            </div>
            {% elif question.question_type == "checkbox" %}
            <div class="choices" data-id="{{question.id}}">
                {% for choice in question.choices.all %}
                    <div class="choice">
                        <input type="checkbox" id="{{choice.id}}" disabled>
                        <label for="{{choice.id}}">
                            <input type="text" data-id="{{choice.id}}" class="edit-choice" value="{{choice.choice}}">
                        </label>
                        <span class="remove-option" title="Remove" data-id="{{choice.id}}">&times;</span>
                    </div>
                {% endfor %}
                <div class="choice-add">
                    <button for = "add-choice" class="add-option" id="add-option" data-question="{{question.id}}" data-type = "{{question.question_type}}">{{ word.addOption }}</button>
                </div>
            </div>
            {% elif question.question_type == "short" %}
            <div class="answers" data-id="{{question.id}}">
                <input type ="text" class="short-answer" disabled placeholder="{{ word.shortAnswerText }}" />
            </div>
            {% elif question.question_type == "paragraph" %}
            <div class="answers" data-id="{{question.id}}">
                <textarea class="long-answer" disabled placeholder="{{ word.longAnswerText }}" ></textarea>
            </div>
            {% endif %}
            <div class="choice-option">
                <div  class="choice-option-required">
                    <input type="checkbox" class="required-checkbox" id="required-{{question.id}}" data-id="{{question.id}}" {% if question.required %}checked{% endif %}>
                    <label for="required-{{question.id}}" class="required">{{ word.required }}</label>
                </div>
                <div class="float-right">
                    <img src="{% static 'Icon/del.svg' %}" alt="Delete question icon" class="question-option-icon delete-question" title="Delete question"
                    data-id="{{question.id}}">
                </div>
            </div>
        </div>
        {% endfor %}
      
    </div>
    <div class="container-form fade-in" style="margin-top:-70px;">
        <div class="margin-top-bottom" style="display: flex; flex-direction: row-reverse;"> 
            <div class=" box-shadow fade-in" style="background-color: #fafafa; width: 80px;">
                <img src = "{% static 'Icon/add.svg' %}" class="form-option-icon" title = "Add question" alt = "Add question icon" id="add-question" style = "margin: 10px auto !important;"/>
            </div>
        </div>
    </div>
    
    {% comment %} <div class="question-options box-shadow fade-in">
        <img src = "{% static 'Icon/add.svg' %}" class="form-option-icon" title = "Add question" alt = "Add question icon" id="add-question" />
        <a href="{% url 'view_form' form.code %}" target="_blank">
            <img src = "{% static 'Icon/eye.svg' %}" class = "form-option-icon" title = "Preview" alt = "Preview icon" />
        </a>
        {% if form.is_quiz %}
        <a href = "{% url 'score' form.code %}" id="add-score">
            <img src = "{% static 'Icon/score.svg' %}" class = "form-option-icon" title = "Add score" alt = "Score icon" />
        </a>
        {% endif %}
    </div> {% endcomment %}
    <div class="modal fade-in" id="customize-theme">
        <div class="modal-content">
            <span class="modal-close-btn" id="close-customize-theme">&times;</span>
            <h1 class="modal-title">{{ word.themeOptions }}</h1>
            <h3 class="modal-subtitle">{{ word.bgColor }}:</h3>
            <input type="color"  value = "{{form.background_color}}" list="bgColors" class="form-control" id="input-bg-color" />
            <datalist id="bgColors">
                <option value="#db4437"></option>
                <option value="#673ab7"></option>
                <option value="#3f51b5"></option>
                <option value="#4285f4"></option>
                <option value="#03a9f4"></option>
                <option value="#00bcd4"></option>
                <option value="#7ff0e7"></option>
                <option value="#e1d8f1"></option>
                <option value="#d1c4e9"></option>
                <option value="#f6f6f6"></option>
                <option value="#f1f3f4"></option>
                <option value="#9aa0a2"></option>
                <option value="#d8ef89"></option>
            </datalist>
            <h3 class="modal-subtitle">{{ word.txtColor }}:</h3>
            <input type="color"  value = {{form.text_color}} list="textColors" class="form-control" id="input-text-color" />
            <datalist id="textColors">
                <option value="#db4437"></option>
                <option value="#673ab7"></option>
                <option value="#3f51b5"></option>
                <option value="#4285f4"></option>
                <option value="#03a9f4"></option>
                <option value="#00bcd4"></option>
                <option value="#8a8a8a"></option>
                <option value="#4c3d45"></option>
                <option value="#272124"></option>
            </datalist>
        </div>
    </div>
    <div class="modal fade-in" id="setting">
        <div class="modal-content txt-clr">
            <form id="setting-form">
                <span class="modal-close-btn" id="close-setting">&times;</span>
                <h1 class = "modal-title">{{ word.setting }}</h1>
                <h4 class="setting-preview-form small-screen"><a href="{% url 'view_form' form.code %}" target="_blank">Preview form here</a></h4>
                <div class="modal-division">
                    <div class="form-group">
                        <h3 class="modal-subtitle">{{ word.general }}</h3>
                        <input type="checkbox" id="collect_email"{% if form.collect_email %} checked {% endif %}>
                        <label for="collect_email" class="setting-form-label">{{ word.collectEmailAddress }}</label>
                    </div>
                    {% comment %} <div class="form-group">
                        <input type="checkbox" id="is_quiz" {% if form.is_quiz %} checked {% endif %}>
                        <label for="is_quiz" class="setting-form-label">{{ word.makeAQuiz }}</label>
                    </div>
                    <div class="form-group">
                        <input type="checkbox" id="authenticated_responder" {% if form.authenticated_responder %} checked {% endif %}>
                        <label for="authenticated_responder" class="setting-form-label">{{ word.noteAuthenticated  }}</label>
                    </div> {% endcomment %}
                </div>
                <div class="modal-division">
                    <div class="form-group">
                        <h3 class="modal-subtitle">{{ word.cfmMessage }}:</h3>
                        <textarea rows="1" class="confirmation-msg-input edit-on-click textarea-adjust" spellcheck="false"
                         id="comfirmation_message">{{form.confirmation_message}}</textarea>
                    </div>
                </div>
                <div class="modal-division">
                    <div class="form-group">
                        <h3 class="modal-subtitle">{{ word.respondentsCan }}:</h3>
                        <input type="checkbox" id="edit_after_submit" {% if form.edit_after_submit %}checked{% endif %}>
                        <label for="edit_after_submit" class="setting-form-label">{{ word.editAfter  }}</label>
                    </div>
                    {% comment %} <div class="form-group">
                        <input type="checkbox" id="allow_view_score" {% if form.allow_view_score %}checked{% endif %}>
                        <label for="allow_view_score" class="setting-form-label">{{ word.viewScore  }}</label>
                    </div> {% endcomment %}
                    <div class="form-group">
                        <input type="submit" value="保存" class="form-control btn btn-save-setting">
                    </div>
                </div>
            </form>
            <form id="delete-form" delete-form class="modal-division">
                <fieldset class="form-group">
                    <h3 class="delete-form-title">{{ word.delForm }}</h3>
                    <p class="delete-form-description">{{ word.noteDel }}</p>
                    <input type="submit"  value="削除" class="btn form-control delete-form-btn">
                </fieldset>
            </form>
        </div>
    </div>
    <div class="modal fade-in" id="send-form">
        <div class="modal-content">
            <span class="modal-close-btn" id="close-send-form">&times;</span>
            <h1 class = "modal-title">{{ word.sendForm }}</h1>
            <div class="modal-division">
                <h4 class="modal-subtitle">{{ word.link }}:</h4>
                <input type="url" class="form-control" value="{% get_env_var 'FORM_URL' %}/form/{{form.code}}/viewform" id="copy-url">
            </div>
            <button class="btn btn-submit" id="copy-btn" copy-btn>{{ word.copy }}</button>
        </div>
    </div>
    <div class="modal fade-in" id="menu-smallscreen">
        <div class="modal-content">
            <span class="modal-close-btn" id="close-menu-smallscreen">&times;</span>
            <div class="menu-modal">
                <img src="{% static 'Icon/paint.svg' %}" alt="Theme icon" id="customize-theme-btn" title = "Customize theme" class="nav-form-menu-icon" />
                <a href="{% url 'view_form' form.code %}" target="_blank">
                    <img src="{% static 'Icon/eye.svg' %}" alt="Preview icon" title = "Preview" class="nav-form-menu-icon" />
                </a>
                <img src="{% static 'Icon/setting.svg' %}" alt="Setting icon" title = "{{ word.setting }}" class="nav-form-menu-icon open-setting" />
                <img src="{% static 'Icon/send-v1.svg' %}" alt="Send icon" title = "Send" class="nav-form-menu-icon" id="send-form-btn" />
                <!-- <a href="{% url 'logout' %}">
                    <img src = "{% static 'Icon/logout.svg' %}" alt = "Logout Icon" class="nav-form-menu-icon logout-icon" title = "Logout">
                </a> -->
            </div>
        </div>
    </div>
</div>
{% endblock %}