{% extends 'index/layout.html' %}
{% load i18n %}
{% load static %}
{% block script %}
<script src = "{% static 'index/index.js' %}" defer></script>
<script src="{% static 'lib/cookie.min.js' %}" defer></script>
{% endblock %}
{% load static %}
{% block body %}
<div class="container-fluid">
    <div class="topnav nav-effect">
            <!-- <span class="nav-ham" id="nav-ham">&#9776;</span> -->
            <div class="d-flex" style="width: 65%; margin-left: 15px">
                <a href = "/">
                    <img src = "{% static 'Icon/google-docs.png' %}" alt = "Google Forms Icon(CLONE)" class="img-fluid img-thumbnail" title = "Forms">
                </a>
                <h1 class="nav-text" title = "Forms"><span id='name-user-content'></span>{{ word.hi }}</h1>
            </div>
            <!-- <a href="{% url 'logout' %}" class="content-logout" style="margin-right: 15px">
                <h3 class="text-logout d-none" title = "Forms">{{ word.logOut }}</h3>
                <img src = "{% static 'Icon/logout.svg' %}" alt = "Logout Icon" class="navbar-icon float-right logout-icon" title = "Logout">
            </a> -->
    </div>
    <!-- <div class="sidebar" id = "sidebar">
        <span class="close-sidebar" id="close-sidebar">&times;</span>
        <div class="sidebar-content">
            <h4 class="sidebar-title">
                <a href = "{% url 'index' %}" class="sidebar-title-link">
                    <span>Google Forms CLONE</span>
                </a>
            </h4>
            <p class="text-label">Found bug? Submit an issue <a href="https://github.com/kimlimjustin/google-form-clone/issues" class="link">here</a></p>
            <p class="text-label">License: <a href="https://github.com/kimlimjustin/google-form-clone/blob/master/LICENSE" class="link">MIT</a></p>
            <p class="text-label">Source code: <a href="https://github.com/kimlimjustin/google-form-clone">
                <img src = "{% static 'Icon/github.png' %}" class="github-icon" alt="GitHub"></a></p>
            <p class="text-label">Support creator by <a href="https://github.com/kimlimjustin/google-form-clone" class="link">give a star on GitHub</a></p>
        </div>
    </div> -->
    <div class="create-form">
        <div class="container">
            <h3 class="forms-label">{{ word.startForm }}</h3>
            <div class="form-template-box">
                <img src = "{% static 'Icon/blank-form.png' %}" alt = "Blank form" title = "Blank form" id="create-blank-form">
                <span class="form-template-label">{{ word.blankForm }}</span>
            </div>
            <div class="form-template-box big-screen">
                <img src = "{% static 'Template/contact.png' %}" alt = "Contact Information" title = "Contact Information" id="create-contact-form">
                <span class="form-template-label">{{ word.contactForm }}</span>
            </div>
            <div class="form-template-box big-screen">
                <img src = "{% static 'Template/feedback.png' %}" alt = "Customer Feedback" title = "Customer Feedback" id="create-customer-feedback">
                <span class="form-template-label">{{ word.customerForm }}</span>
            </div>
            <div class="form-template-box big-screen">
                <img src = "{% static 'Template/event.png' %}" alt = "Event Registration" title = "Event Registration" id="create-event-registration">
                <span class="form-template-label">{{ word.eventForm }}</span>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="form-list">
            <h3 class="forms-label">{{ word.yourForm }}: </h3>
            <div style="display: flex; flex-wrap: wrap; justify-content: center;">
                {% for i in forms %}
                <a href = "{% url 'edit_form' i.code %}" class="form-list-link">
                    <div class="form-box">
                        <img style="margin: 0 5px; height: 50px" src = "{% static 'Icon/documentss.png' %}">
                        <div class="form-list-title">
                            <h4 class="form-list-title-text">{{i.title}}</h4>
                            {% if i.createdAt == i.updatedAt %}
                            <p class="form-list-timestamp">{{i.createdAt}}</p>
                            {% else %}
                            <p class="form-list-timestamp">{{i.updatedAt}}</p>
                            {% endif %}
                        </div>
                        {% comment %} 
                            <form id="delete-form" delete-form class="modal-division">
                                <fieldset class="form-group">
                                    <input type="submit"  value="削除" class="btn form-control delete-form-btn">
                                </fieldset>
                            </form> 
                        {% endcomment %}
                    </div>
                </a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}