{% extends 'index/layout.html' %}
{% load i18n %}
{% block body %}
<div class="content-login">
    <div class="layout-login">
        <form class="fade-in layout-login-form box box-shadow" method="POST"
            action="{% url 'login' %}">
            <div class="form-group">
                <h2 class="box-title">{{ word.login }}</h2>
                <p class="form-error">{{message}}</p>
                <!-- {% csrf_token %} -->

            </div>
            <div class="form-group form-animate">
                <p class="form-label">{{ word.userName }}</p>
                <input type="text" class="input-animate" required
                    name="username">
                <span class="input-onFocus"></span>
            </div>
            <div class="form-group form-animate">
                <p class="form-label">{{ word.password }}</p>
                <input type="password" name="password" class="input-animate"
                    required>
                <span class="input-onFocus"></span>
            </div>
            <div class="form-group">
                <b><p class="form-label">{{ word.noteHaveAccount }} <a
                            class="link" href="{% url 'register' %}">
                            {{word.register }}</a></p></b>
                <input type="submit" value="{{ word.login }}" class="btn
                    btn-dark form-control">
            </div>
        </form>
    </div>
</div>
{% endblock %}