{% extends 'index/layout.html' %}
{% load i18n %}
{% block body %}
<div class="content-login">
    <div class="layout-login">
        <form class="fade-in layout-register-form box box-shadow" action="{% url 'register' %}" method="post">
            <div class="form-group">
                <h2 class="box-title">{{ word.registerUser }}</h2>
                <p class="form-error">{{message}}</p>
                {% csrf_token %}
            </div>
            <div class="form-group form-animate">
                <p class="form-label">{{ word.registerUser }}:</p>
                <input type="text" class="form-control input-animate" name="username" required>
                <span class="input-onFocus"></span>
            </div>
            <div class="form-group form-animate">
                <p class="form-label">{{ word.email }}:</p>
                <input type="email" name="email" class="form-control input-animate" required>
                <span class="input-onFocus"></span>
            </div>
            <div class="form-group form-animate">
                <p class="form-label">{{ word.password }}:</p>
                <input type="password" name="password" class="form-control input-animate" required>
                <span class="input-onFocus"></span>
            </div>
            <div class="form-group form-animate">
                <p class="form-label">{{ word.passwordConfirm }}:</p>
                <input type="password" name="confirmation" class="form-control input-animate" required>
                <span class="input-onFocus"></span>
            </div>
            <div class="form-group">
                <p class="form-label">{{ word.alreadyHaveAcc }}<a class="link" href = "{% url 'login' %}">{{ word.login }}</a></p>
                <input type="submit" value="{{ word.register }}" class="btn btn-dark form-control">
            </div>
        </form>
    </div>
</div>
{% endblock %}