{% extends 'index/layout.html' %}
{% load env_extras %}
{% load static %}
{% load i18n %}
{% block title %}{{form.title}}{% endblock %}
{% block script %}
<script src="{% static 'index/responses.js' %}" defer></script>
<script src="{% static 'lib/cookie.min.js' %}"></script>
{% endblock %}
{% block body %}
<div class="container-fluid">
    <div class="header">
        <div class="form-topnav">
            <div class="d-flex header-form-title" >
                <a href = "/">
                    <img src = "{% static 'Icon/google-docs.png' %}" alt = "Google Forms Icon(CLONE)" class="img-fluid img-thumbnail" title = "Forms" />
                </a>
                <h1 class="nav-text" title = "Forms">{{form.title}}</h1>
            </div>
            <div class="menu-tools">
                <img src="{% static 'Icon/paint.svg' %}" alt="Theme icon" id="customize-theme-btn" title = "Customize theme" class="nav-form-menu-icon" />
                <a href="{% url 'view_form' form.code %}" target="_blank">
                <img src="{% static 'Icon/eye.svg' %}" alt="Preview icon" title = "Preview" class="nav-form-menu-icon big-screen" />
                </a>
                <img src="{% static 'Icon/setting.svg' %}" alt="Setting icon" title = "{{ word.setting }}" class="nav-form-menu-icon open-setting" />
                <img src="{% static 'Icon/send-v1.svg' %}" alt="Send icon" title = "Send" class="nav-form-menu-icon" id="send-form-btn" />
                <!-- <a href="{% url 'logout' %}">
                    <img src = "{% static 'Icon/logout.svg' %}" alt = "Logout Icon" class="nav-form-menu-icon logout-icon" title = "Logout">
                </a> -->
            </div>
        </div>
        <div class="form-topnav shadow">
            <div class="form-navigation center">
                {% if form.is_quiz %}
                <span class="col-4 navigation"><a href = "{% url 'edit_form' form.code %}" class="link">{{ word.questions }}</a></span>
                <span class="col-4 navigation score"><a href="{% url 'score' form.code %}" class="link">{{ word.scores }}</a></span>
                <span class="col-4 navigation active">{{ word.responses }}</span>
                {% else %}
                <span class="col-6 navigation"><a href = "{% url 'edit_form' form.code %}" class="link">{{ word.questions }}</a></span>
                <span class="col-6 navigation active">{{ word.responses }}</span>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="container-form fade-in">
        <span id="bg-color" style="display: none;">{{form.background_color}}</span>
        <span id="text-color" style="display: none;">{{form.text_color}}</span>
        <div class="margin-top-bottom box question-box" id="responses">
            {% if responses.count > 0 %}
            <h1 class="response-title">{{ word.individualResponse }}:</h1>
            <ul>
                {% for i in responses %}
                    {% if form.collect_email %}
                        <li><a href = "{% url 'response' form.code i.response_code %}" class="link">{{i.responder_email}}{{ word.responses }}</a></li>
                    {% elif form.authenticated_responder %}
                        <li><a href = "{% url 'response' form.code i.response_code %}" class="link">{{i.responder.username}}{{ word.responses }}</a></li>
                    {% else %}
                        <li><a href = "{% url 'response' form.code i.response_code %}" class="link">{{i.responder_ip}}{{ word.responses }}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
            <button class="btn btn-danger" id="delete-responses">{{ word.delAllResponses}}</button>
            <a  href="{% url 'download' form.code %}" id="download-responses"><button class="btn btn-success">{{ word.downloadAllResponses }}</button></a>
            {% else %}
            <h1 class="response-title">0{{ word.responses }}</h1>
            {% endif %}
        </div>
    </div>
    <!-- <div class="question-options  box-shadow">
        <a href="{% url 'view_form' form.code %}" target="_blank">
            <img src = "{% static 'Icon/add.svg' %}" class = "form-option-icon" title = "Preview" alt = "Preview icon" />
        </a>
        <a href="{% url 'edit_form' form.code %}">
            <img src="{% static 'Icon/eye.svg' %}" alt="Edit Question" title="Edit this form" class="form-option-icon">
        </a>
        {% if form.is_quiz %}
        <a href = "{% url 'score' form.code %}" id="add-score">
            <img src = "{% static 'Icon/score.svg' %}" class = "form-option-icon" title = "Add score" alt = "Score icon" />
        </a>
        {% endif %}
    </div> -->
    <div class="modal" id="customize-theme">
        <div class="modal-content">
            <span class="modal-close-btn" id="close-customize-theme">&times;</span>
            <h1 class="modal-title">{{ word.themeOptions }}</h1>
            <h3 class="modal-subtitle">{{ word.bgColor }}</h3>
            <input type="color"  value = "{{form.background_color}}" list="bgColors" class="form-control" id="input-bg-color" />
            <datalist id="bgColors">
                <option value="#03a9f4"></option>
                <option value="#00bcd4"></option>
                <option value="#7ff0e7"></option>
                <option value = "#e1d8f1"></option>
                <option value = "#d1c4e9"></option>
                <option value = "#f6f6f6"></option>
                <option value="#f1f3f4"></option>
                <option value="#9aa0a2"></option>
                <option value="#d8ef89"></option>
            </datalist>
            <h3 class="modal-subtitle">{{ word.txtColor }}</h3>
            <input type="color"  value = {{form.text_color}} list="textColors" class="form-control" id="input-text-color" />
            <datalist id="textColors">
                <option value="#db4437"></option>
                <option value="#673ab7"></option>
                <option value="#3f51b5"></option>
                <option value="#4285f4"></option>
                <option value="#03a9f4"></option>
                <option value="#00bcd4"></option>
                <option value="#8a8a8a"></option>
                <option value="#4c3d45"></option>
                <option value="#272124"></option>
            </datalist>
        </div>
    </div>
    <div class="modal" id="setting">
        <div class="modal-content txt-clr">
            <form id="setting-form">
                <span class="modal-close-btn" id="close-setting">&times;</span>
                <h1 class = "modal-title">{{ word.setting }}</h1>
                <h4 class="setting-preview-form small-screen"><a href="{% url 'view_form' form.code %}" target="_blank">{{ word.previewHere }}</a></h4>
                <div class="modal-division">
                    <div class="form-group">
                        <h3 class="modal-subtitle">{{ word.general }}</h3>
                        <input type="checkbox" id="collect_email"{% if form.collect_email %} checked {% endif %}>
                        <label for="collect_email" class="setting-form-label">{{ word.collectEmailAddress }}</label>
                    </div>
                    <div class="form-group">
                        <input type="checkbox" id="is_quiz" {% if form.is_quiz %} checked {% endif %}>
                        <label for="is_quiz" class="setting-form-label">{{ word.makeAQuiz }}</label>
                    </div>
                    <div class="form-group">
                        <input type="checkbox" id="authenticated_responder" {% if form.authenticated_responder %} checked {% endif %}>
                        <label for="authenticated_responder" class="setting-form-label">{{ word.noteAuthenticated }}</label>
                    </div>
                </div>
                <div class="modal-division">
                    <div class="form-group">
                        <h3 class="modal-subtitle">{{ word.cfmMessage }}:</h3>
                        <textarea rows="1" class="confirmation-msg-input edit-on-click textarea-adjust" spellcheck="false"
                         id="comfirmation_message">{{form.confirmation_message}}</textarea>
                    </div>
                </div>
                <div class="modal-division">
                    <div class="form-group">
                        <h3 class="modal-subtitle">{{ word.respondentsCan }}:</h3>
                        <input type="checkbox" id="edit_after_submit" {% if form.edit_after_submit %}checked{% endif %}>
                        <label for="edit_after_submit" class="setting-form-label">{{ word.editAfter }}</label>
                    </div>
                    <div class="form-group">
                        <input type="checkbox" id="allow_view_score" {% if form.allow_view_score %}checked{% endif %}>
                        <label for="allow_view_score" class="setting-form-label">{{ word.viewScore }}</label>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="保存" class="form-control btn btn-save-setting">
                    </div>
                </div>
            </form>
            <form id="delete-form" class="modal-division">
                <fieldset class="form-group">
                    <h3 class="delete-form-title">{{ word.delForm }}</h3>
                    <p class="delete-form-description">{{ word.noteDel }}</p>
                    <input type="submit" value="削除" class="btn form-control delete-form-btn">
                </fieldset>
            </form>
        </div>
    </div>
    <div class="modal" id="send-form">
        <div class="modal-content">
            <span class="modal-close-btn" id="close-send-form">&times;</span>
            <h1 class = "modal-title">{{ word.sendForm }}</h1>
            <div class="modal-division">
                <h4 class="modal-subtitle">{{ word.link }}:</h4>
                <input type="url" class="form-control" value="{% get_env_var 'FORM_URL' %}/form/{{form.code}}/viewform" copy-btn id="copy-url">
            </div>
            <button class="btn btn-submit" copy-btn>{{ word.copy }}</button>
        </div>
    </div>
</div>

{% endblock %}