{% extends 'index/layout.html' %}
{% load static %}
{% load i18n %}
{% block title %}{{form.title}} - TGL Forms{% endblock %}
{% block script %}
<script src="{% static 'index/score.js' %}" defer></script>
<script src="{% static 'lib/cookie.min.js' %}"></script>
{% endblock %}
{% block body %}
<div class="container-fluid">
    <div class="header">
        <div class="form-topnav">
            <div class="d-flex header-form-title">
                <a href = "/">
                    <img src = "{% static 'Icon/google-docs.png' %}" alt = "Google Forms Icon(CLONE)" class="navbar-icon form-icon" title = "Forms" />
                </a>
                <h1 class="nav-text" title = "Forms">{{form.title}}</h1>
            </div>
            <div class="menu-tools">
                <img src="{% static 'Icon/paint.svg' %}" alt="Theme icon" id="customize-theme-btn" title = "Customize theme" class="nav-form-menu-icon" />
                <a href="{% url 'view_form' form.code %}" target="_blank">
                <img src="{% static 'Icon/eye.svg' %}" alt="Preview icon" title = "Preview" class="nav-form-menu-icon big-screen" />
                </a>
                <img src="{% static 'Icon/setting.svg' %}" alt="{{ word.setting }} icon" title = "{{ word.setting }}" class="nav-form-menu-icon open-setting" />
                <img src="{% static 'Icon/send-v1.svg' %}" alt="Send icon" title = "Send" class="nav-form-menu-icon" id="send-form-btn" />
                <!-- <a href="{% url 'logout' %}">
                    <img src = "{% static 'Icon/logout.svg' %}" alt = "Logout Icon" class="nav-form-menu-icon logout-icon" title = "Logout">
                </a> -->
            </div>
        </div>
        <div class="form-topnav shadow">
            <div class="form-navigation center">
                <span class="col-4 navigation"><a href = "{% url 'edit_form' form.code %}" class="link">{{ word.questions }}</a></span>
                <span class="col-4 navigation active">{{ word.scores }}</span>
                <span class="col-4 navigation"><a href = "{% url 'responses' form.code %}" class="link">{{ word.responses }}</a></span>
            </div>
        </div>
    </div>
    <div class="container-form">
        <span id="bg-color" style="display: none;">{{form.background_color}}</span>
        <span id="text-color" style="display: none;">{{form.text_color}}</span>
        <div class="box-shadow margin-top-bottom box question-box" id="form-head">
            <div class="form-title-box">
                <h1 class="form-title edit-on-click txt-clr">{{form.title}}</h1>
            </div>
            <p class="form-description edit-on-click textarea-adjust txt-clr">{{form.description|linebreaksbr}}</p>
            {% if form.collect_email %}
            <div class="collect-email txt-clr">
                <h3 class="question-title">{{ word.emailAddress }} <span class="require-star">*</span></h3>
                <input type="text" autoComplete="off" aria-label="Valid email address" disabled dir = "auto" class="require-email-edit txtColor"
                placeholder = "Valid email address" />
                <p class="collect-email-desc">{{ word.noteCollectingEmail }} <span class="open-setting">{{ word.changeSetting }}</span></p>
            </div>
            {% endif %}
        </div>
        {% for question in form.questions.all %}
        <div class="box-shadow margin-top-bottom box question-box question" data-id="{{question.id}}">
            <h2 class="question-title-score">{{question.question}}</h2>
            <div class="question-score">
                <input type="number" data-id="{{question.id}}" id="score" class="input-score" value="{{question.score}}">
                <label for="score">{{ word.points }}</label>
            </div>
            <div class="answer-key">
                <p class="answer-key-title">{{ word.answerKey }}:</p>
                {% if question.question_type == "short" %}
                    <input type="text" style="height: auto" class="short-answer" data-id="{{question.id}}" data-question-type = "{{question.question_type}}" answer-key
                    value="{{question.answer_key}}">
                {% elif question.question_type == "paragraph" %}
                    <textarea class="long-answer textarea-adjust" data-question-type = "{{question.question_type}}" answer-key 
                    data-id="{{question.id}}">{{question.answer_key}}
                    </textarea>
                {% elif question.question_type == "multiple choice" %}
                    {% for i in question.choices.all %}
                    <div class="form-group">
                        <input type="radio" name="{{question.id}}-answer" id="choice-{{i.id}}" data-id="{{question.id}}" value="{{i.id}}" answer-key
                        data-question_type = "{{question.question_type}}" {% if i.is_answer %} checked {% endif %}>
                        <label for="choice-{{i.id}}">{{i.choice}}</label>
                    </div>
                    {% endfor %}
                {% elif question.question_type == "checkbox" %}
                    {% for i in question.choices.all %}
                    <div class="form-group">
                        <input type="checkbox" name="{{question.id}}-answer" id="choice-{{i.id}}" data-id="{{question.id}}" value="{{i.id}}"
                        data-question_type = "{{question.question_type}}" answer-key {% if i.is_answer %} checked {% endif %}>
                        <label for="choice-{{i.id}}">{{i.choice}}</label>
                    </div>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="feedback">
                <p class="feedback-title">{{ word.feedBack }}:</p>
                {% if question.feedback != None %}
                <textarea class="long-answer textarea-adjust" data-id="{{question.id}}" name="feedback">{{question.feedback}}</textarea>
                {% else %}
                <textarea class="long-answer textarea-adjust" data-id="{{question.id}}" name="feedback"></textarea>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="question-options">
        <a href="{% url 'view_form' form.code %}" target="_blank">
            <img src = "{% static 'Icon/eye.svg' %}" class = "form-option-icon" title = "Preview" alt = "Preview icon" />
        </a>
        <a href="{% url 'edit_form' form.code %}">
            <img src = "{% static 'Icon/clipboard.png' %}" class = "form-option-icon" title = "{{ word.questions }}" alt = "Question icon" />
        </a>
    </div>
    <div class="modal" id="customize-theme">
        <div class="modal-content">
            <span class="modal-close-btn" id="close-customize-theme">&times;</span>
            <h1 class="modal-title">{{ word.themeOptions }}</h1>
            <h3 class="modal-subtitle">{{ word.bgColor }}</h3>
            <input type="color"  value = "{{form.background_color}}" list="bgColors" class="form-control" id="input-bg-color" />
            <datalist id="bgColors">
                <option value="#db4437"></option>
                <option value="#673ab7"></option>
                <option value="#3f51b5"></option>
                <option value="#4285f4"></option>
                <option value="#03a9f4"></option>
                <option value="#00bcd4"></option>
                <option value="#7ff0e7"></option>
                <option value = "#e1d8f1"></option>
                <option value = "#d1c4e9"></option>
                <option value = "#f6f6f6"></option>
                <option value="#f1f3f4"></option>
            </datalist>
            <h3 class="modal-subtitle">{{ word.txtColor }}</h3>
            <input type="color"  value = {{form.text_color}} list="textColors" class="form-control" id="input-text-color" />
            <datalist id="textColors">
                <option value="#db4437"></option>
                <option value="#673ab7"></option>
                <option value="#3f51b5"></option>
                <option value="#4285f4"></option>
                <option value="#03a9f4"></option>
                <option value="#00bcd4"></option>
                <option value="#8a8a8a"></option>
                <option value="#4c3d45"></option>
                <option value="#272124"></option>
                <option value="#9aa0a2"></option>
                <option value="#d8ef89"></option>
            </datalist>
        </div>
    </div>
    <div class="modal" id="setting">
        <div class="modal-content txt-clr">
            <form id="setting-form">
                <span class="modal-close-btn" id="close-setting">&times;</span>
                <h1 class = "modal-title">{{ word.setting }}</h1>
                <h4 class="setting-preview-form small-screen"><a href="{% url 'view_form' form.code %}" target="_blank">{{ word.previewHere }}</a></h4>
                <div class="modal-division">
                    <div class="form-group">
                        <h3 class="modal-subtitle">{{ word.general }}</h3>
                        <input type="checkbox" id="collect_email"{% if form.collect_email %} checked {% endif %}>
                        <label for="collect_email" class="setting-form-label">{{ word.collectEmailAddress }}</label>
                    </div>
                    <div class="form-group">
                        <input type="checkbox" id="is_quiz" {% if form.is_quiz %} checked {% endif %}>
                        <label for="is_quiz" class="setting-form-label">{{ word.makeAQuiz }}</label>
                    </div>
                    <div class="form-group">
                        <input type="checkbox" id="authenticated_responder" {% if form.authenticated_responder %} checked {% endif %}>
                        <label for="authenticated_responder" class="setting-form-label">{{ word.noteAuthenticated }}</label>
                    </div>
                </div>
                <div class="modal-division">
                    <div class="form-group">
                        <h3 class="modal-subtitle">{{ word.cfmMessage }}:</h3>
                        <textarea rows="1" class="confirmation-msg-input edit-on-click textarea-adjust" spellcheck="false"
                         id="comfirmation_message">{{form.confirmation_message}}</textarea>
                    </div>
                </div>
                <div class="modal-division">
                    <div class="form-group">
                        <h3 class="modal-subtitle">{{ word.respondentsCan }}:</h3>
                        <input type="checkbox" id="edit_after_submit" {% if form.edit_after_submit %}checked{% endif %}>
                        <label for="edit_after_submit" class="setting-form-label">{{ word.editAfter }}</label>
                    </div>
                    <div class="form-group">
                        <input type="checkbox" id="allow_view_score" {% if form.allow_view_score %}checked{% endif %}>
                        <label for="allow_view_score" class="setting-form-label">{{ word.viewScore }}</label>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="保存" class="form-control btn btn-save-setting">
                    </div>
                </div>
            </form>
            <form id="delete-form" class="modal-division">
                <fieldset class="form-group">
                    <h3 class="delete-form-title">{{ word.delForm }}</h3>
                    <p class="delete-form-description">{{ word.noteDel }}</p>
                    <input type="submit" value="削除" class="btn form-control delete-form-btn">
                </fieldset>
            </form>
        </div>
    </div>
    <div class="modal" id="send-form">
        <div class="modal-content">
            <span class="modal-close-btn" id="close-send-form">&times;</span>
            <h1 class = "modal-title">{{ word.sendForm }}</h1>
            <div class="modal-division">
                <h4 class="modal-subtitle">{{ word.link }}:</h4>
                <input type="url" class="form-control" value="{{request.get_host}}/form/{{form.code}}/viewform" copy-btn id="copy-url">
            </div>
            <button class="btn btn-submit" copy-btn>{{ word.copy }}</button>
        </div>
    </div>
</div>
{% endblock %}