@import url("https://fonts.googleapis.com/css?family=Permanent+Marker");
@import url("https://fonts.googleapis.com/css?family=Product+Sans");
@import url("https://fonts.googleapis.com/css?family=Google+Sans");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans");

body {
  scroll-behavior: smooth;
}
button,
input,
optgroup,
select,
textarea {
  font-family: "Google Sans";
}
.d-flex {
  display: flex !important;
}
.form-error {
  font-family: "Google Sans";
  color: red;
}

.form-icon {
  width: 40px;
  margin-bottom: 0.5rem;
}
.content-logout {
  display: flex;
  align-items: center;
  text-decoration: none;
}
.content-logout .text-logout {
  font-family: "Product Sans";
  color: #5f6368;
  margin-right: 10px;
  transition: all 0.5s;
}
.content-logout:hover .text-logout {
  color: tomato;
}
.topnav {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 2;
  background-color: #fafafa;
}

.navbar-icon {
  float: left;
}
.nav-text {
  font-family: "Product Sans";
  color: #505050;
  margin-top: 7px;
  margin-left: 10px;
  margin-bottom: 0;
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.img-thumbnail {
  border: none;
}
.nav-link {
  color: #000;
  text-decoration: none;
}

.nav-effect {
  box-shadow: 0 2px 30px -2px rgba(0, 0, 0, 0.2);
}

.float-right {
  float: right;
}

.logout-icon {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.nav-padding {
  padding: 10px 20px 10px;
}
.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  overflow-x: hidden;
  transition: 0.5s;
  background-color: #fff;
  box-shadow: 10px 0 5px -2px #888;
}

.nav-ham {
  float: left;
  font-size: 1.8rem;
  position: relative;
  vertical-align: middle;
  margin-right: 1rem;
  cursor: pointer;
}

.close-sidebar {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  cursor: pointer;
}

.sidebar-content {
  margin: 20px;
}

.sidebar-title {
  margin-top: 50px;
  font-family: "Open Sans", sans-serif;
  font-size: 1.3rem;
  border-bottom: 1px solid #888;
  text-align: center;
  cursor: pointer;
}

.sidebar-title-link {
  text-decoration: none;
  color: #414244;
}

.github-icon {
  width: 1.3rem;
}

.create-form {
  background-color: #f1f3f4;
  width: 100%;
  float: left;
  margin-top: 88px;
}

.forms-label {
  font-family: "Google Sans";
  margin: 10px 10px 5px 10px;
}

.form-template-box {
  margin: 5px 15px 10px 0;
  float: left;
  cursor: pointer;
}

.form-template-box img {
  width: 10em;
  height: 7em;
  float: left;
  border: 1px solid transparent;
  margin-bottom: 10px;
}

.form-template-box:hover img {
  border-color: #67aeb1;
}

.form-box {
  width: 250px;
  border: 2px solid rgb(182, 179, 179);
  padding: 10px 5px;
  cursor: pointer;
  margin: 10px;
  position: relative;
  display: flex;
  align-items: center;
  /* background-color: wheat; */
}

.form-box:hover {
  border-color: #67aeb1;
}

.form-list {
  float: left;
  margin-top: 20px;
}

.form-list-title {
  align-items: flex-start;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
}

.form-list-title-text {
  text-align: left;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  text-overflow: ellipsis;
  font-family: "Google Sans";
  margin: 2.5px;
}

.form-list-timestamp {
  margin: 2.5px;
  font-family: "Google Sans";
  color: gray;
}

.form-list-link {
  color: #000000;
  text-decoration: none;
  /* float: left; */
}
.form-list-link:hover {
  text-decoration: none !important;
}

.error-page {
  text-align: center;
  font-family: "Roboto Condensed";
}

.form-topnav {
  padding: 10px 0;
  overflow: hidden;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.shadow {
  box-shadow: 0 4px 2px -2px #dedede;
}

.nav-form-title {
  width: 300px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  text-overflow: ellipsis;
}

.edit-on-click {
  border: none;
  border-bottom: 1px dotted transparent;
  font-size: 1.2rem;
  transition: 1s;
  overflow-y: hidden;
}

.edit-on-click:focus {
  outline: none !important;
  border-bottom: 1px dotted #202124;
}

.nav-form-menu-icon {
  width: 1.8rem;
  height: auto;
  margin: 10px;
  cursor: pointer;
  float: left;
  transition: all 0.5s;
}
.nav-form-menu-icon:hover,
.question-option-icon:hover {
  opacity: 0.7;
}
.send-form-btn {
  position: relative;
  background-color: #673ab7;
  color: #ddd;
  font-size: 1rem;
  font-family: "Google Sans";
  vertical-align: middle;
  border: 1px solid #ddd;
  padding: 10px 20px;
  float: left;
  margin: 0.2px 15px;
}

.question-box {
  background-color: #fff;
  padding: 30px;
}

.form-title {
  font-size: 2rem;
  font-family: "Google Sans";
  font-weight: normal;
  margin: 10px;
  width: -webkit-fill-available;
}

.form-description {
  font-size: 1rem;
  margin: 10px;
  width: -webkit-fill-available;
  font-family: "Google Sans";
  resize: none;
}
/* 
.form-title-box{
    border-bottom: 1px solid #ddd;
} */

.modal {
  display: none;
  position: fixed;
  z-index: 6;
  padding: calc(10vh - 20px) 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-height: 80%;
  overflow: auto;
  max-width: 500px;
  border-radius: 10px;
}

.modal-close-btn {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-title {
  font-family: "Google Sans";
  font-size: 1.5rem;
  margin-bottom: 0;
}

.modal-subtitle {
  font-family: "Google Sans";
  font-size: 1rem;
  font-weight: normal;
}

.setting-form-label {
  font-family: "Google Sans";
}

.modal-division {
  margin: 30px 0;
}
.confirmation-msg-input {
  width: -webkit-fill-available;
  border-bottom: 1px solid #202124;
  min-height: 30px !important;
  resize: none;
}

.setting-options {
  position: relative;
}
.setting-option-cancel {
  margin: 20px 10px;
  cursor: pointer;
  color: #84878b;
}

.btn-save-setting {
  background-color: #673ab7;
  color: #ddd;
  font-size: 1rem;
  font-family: "Google Sans";
}

.setting-preview-form,
.setting-preview-form a {
  cursor: pointer;
  color: #bbb;
  font-family: "Google Sans";
  text-decoration: none;
}

.setting-preview-form:hover {
  opacity: 0.5;
}

.danger-zone {
  font-weight: bold;
  font-family: "Google Sans";
  font-size: 1.4rem;
}

.delete-form-title {
  margin: 0;
  font-family: "Roboto Condensed";
}

.delete-form-description {
  margin: 0;
  font-family: "Poppins";
}

.delete-form-btn {
  font-size: 1rem;
  font-family: "Poppins";
  padding: 3px !important;
  background-color: #e71c23;
  color: #fff;
}

.question-options {
  background-color: #fafafa;
  margin: 20px 0;
  position: fixed;
  bottom: 30vh;
  right: 0;
  padding: 7px;
  border: 1px solid #fafafa;
  border-radius: 5px;
}

.form-option-icon {
  width: 2rem;
  margin: 10px;
  cursor: pointer;
  display: block;
  transition: all 0.5s;
}
.form-option-icon:hover {
  opacity: 0.7;
}

.collect-email {
  margin: 10px;
}

.question-title {
  font-family: "Google Sans";
  font-size: 1.3rem;
  font-weight: normal;
}

.require-star {
  color: #e71c23;
}

.require-email-edit {
  padding: 5px;
  border: none;
  border-bottom: 1px solid #84878b;
  width: 50%;
  cursor: not-allowed;
}

.collect-email-desc {
  color: #70757a;
  margin: 10px 0;
}

.open-setting {
  color: #1a73e8;
  cursor: pointer;
}

.question-title {
  font-family: "Google Sans";
  font-size: 1.5rem;
  width: 65%;
}

.question-type-select {
  width: calc(35% - 8px);
  font-size: 1rem;
  height: 34px;
  outline: none;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  /* padding: .375rem 2.25rem .375rem .75rem; */
  line-height: 1.5;
  background-color: #fff;
  cursor: pointer;
}

.question-type-select::-ms-expand {
  display: none;
}

.choices {
  margin: 10px;
}

.choice {
  margin: 5px 0;
  font-family: "Google Sans";
}
.choice-add {
  margin: 5px 0;
  font-family: "Google Sans";
  margin-top: 15px;
}

.add-option {
  cursor: pointer;
  color: #70757a;
  margin-left: 25px;
}

.edit-choice {
  display: inline;
  width: 40%;
  border: none;
  border-bottom: 1px solid transparent;
  outline: none;
  overflow-y: hidden;
  font-family: "Google Sans";
  font-size: 1rem;
  transition: all 0.5s;
}
.edit-choice:focus {
  border-bottom: 1px dotted #ccc;
}

.remove-option {
  display: inline;
  font-size: 1.3rem;
  cursor: pointer;
  margin-left: 10px;
}

.choice-option {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #ccc;
  align-items: center;
  margin-top: 30px;
}
.required {
  font-family: "Google Sans";
  font-size: 1rem;
}

.answers {
  margin: 5px;
  font-family: "Google Sans";
}

.short-answer {
  width: 50%;
  border: none;
  padding: 5px;
  font-size: 1rem;
  font-family: "Google Sans";
  border-bottom: 1px solid #70757a;
  height: 40px;
  border-radius: 10px 10px 0px 0px;
  outline: none;
}

.long-answer {
  width: -webkit-fill-available;
  border: none;
  padding: 5px;
  font-size: 1rem;
  font-family: "Google Sans";
  border-bottom: 1px solid #70757a;
  height: 40px;
  border-radius: 10px 10px 0px 0px;
  outline: none;
}

.question-option-icon {
  width: 1.1rem;
  cursor: pointer;
  transition: all 0.5s;
}
.form-navigation {
  background-color: #fff;
  width: 400px;
  margin: auto;
  font-family: "Google Sans";
  font-size: 1.5rem;
}

.navigation {
  text-align: center;
  cursor: pointer;
}

.form-navigation .active {
  color: rgb(0, 132, 223);
  font-weight: bold;
}

.question-score {
  max-width: calc(25% - 8px);
  display: inline-block;
  font-family: "Google Sans";
  margin: 1rem;
}

.input-score {
  width: 30px;
  border: none;
  outline: none;
  border-bottom: 1px solid rgb(0, 132, 223);
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.question-title-score {
  font-family: "Google Sans";
  display: inline-block;
  width: 75%;
  font-size: 1.5rem;
  font-weight: normal;
  margin: 1rem;
}

.answer-key,
.feedback {
  margin: 5px 10px;
}
.answer-key-title,
.feedback-title {
  margin: 0;
  font-family: "Roboto Condensed";
  display: inline-block;
}

.multiple-choice {
  width: 100%;
  margin: 5px;
  font-family: "Google Sans";
}

.btn-submit {
  background-color: #1a73e8;
  color: #fff;
  border: 1px solid #fff;
  cursor: pointer;
  min-width: 100px;
}

.required-info {
  color: #e71c23;
  margin: 10px;
  font-family: "Google Sans";
}

.edit-form-link {
  width: 4rem;
  height: 4rem;
  position: fixed;
  bottom: 5vh;
  right: 5%;
  transition: all 0.5s;
}
.edit-form-link:hover {
  opacity: 0.7;
}

.response-title {
  font-family: "Google Sans";
  font-size: 1.5rem;
  font-weight: normal;
}

.score-title {
  font-family: "Google Sans";
  margin: 10px;
  font-size: 1.2rem;
  font-weight: normal;
}

.question-title {
  font-family: "Google Sans";
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.view-score-btn {
  position: relative;
  background-color: #673ab7;
  color: #ddd;
  font-family: "Google Sans";
  border: 1px solid #ddd;
  padding: 10px 20px;
  margin: 5px 15px;
}

.feedback {
  margin: 10px 5px;
}

.feedback-title {
  font-family: "Poppins";
  font-size: 1.1rem;
  font-weight: normal;
}

.edit-response-link {
  margin-left: 15px;
}

.form-template-label {
  font-family: "Google Sans";
  margin: 10px;
  display: block;
  text-align: center;
}

.form-animate {
  position: relative;
  display: block;
  overflow: hidden;
}

.input-animate {
  width: -webkit-fill-available;
  border: none;
  display: inline-block;
  outline: none;
  padding: 10px;
  font-size: 20px;
  background-color: transparent;
  border-bottom: 1px solid #7c7c7c;
}

.input-onFocus {
  transition: all 0.5s;
  display: inline-block;
  bottom: 0;
  left: -100%;
  position: absolute;
  width: 100%;
  height: 2px;
  background: #1a73e8;
}

.form-animate,
.input-animate {
  color: inherit;
}

.form-animate .input-animate:focus + .input-onFocus {
  left: 0;
}
/* LOGIN */
.content-login {
  background-image: url("/static/Template/bg-1.png");
  height: 100vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.layout-login {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(-25%, -50%);
}
.layout-login .layout-login-form {
  padding: 50px;
  background-color: #fafafa;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.layout-login .layout-register-form {
  padding: 60px;
  background-color: #fafafa;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.menu-tools {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  z-index: 10;
}
.header-form-title {
  width: 50%;
  margin-left: 15px;
  align-items: center;
}
.header {
  width: 100%;
  position: fixed;
  top: 0;
}
/* ----- */
@media only screen and (max-width: 1024px) {
  .layout-login {
    position: unset;
    transform: unset;
    width: 60%;
    margin: 0 auto;
  }
  .content-login {
    height: 100%;
  }
}
@media only screen and (max-width: 768px) {
  .content-login {
    background-image: url("/static/Template/bg-3.png");
    height: 100vh;
  }
  .create-form {
    margin-top: 88px;
  }
  .short-answer {
    width: 100%;
  }
  .header-form-title {
    width: 90%;
  }
  .menu-tools {
    display: flex;
    align-items: center;
    width: 100vw;
    justify-content: center;
    position: fixed;
    bottom: 0;
    right: 0;
    flex-direction: row;
    border: 1px solid #f5f5f5;
    box-shadow: rgb(0 0 0 / 10%) 0px 4px 12px;
    border-radius: 5px;
    background: #f5f5f5;
  }
  .layout-login {
    width: 100vw;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
  }
  .layout-login .layout-login-form,
  .layout-login .layout-register-form {
    padding: 20px;
  }
  .form-navigation {
    font-size: 1.2rem;
    display: flex;
    justify-content: space-around;
  }
  .nav-form-title {
    width: 100px;
  }

  .form-list-link,
  .form-box {
    width: -webkit-fill-available;
  }
  .modal {
    padding: 0;
  }

  .modal-content {
    max-width: none;
    max-height: none;
    width: -webkit-fill-available;
    height: calc(100% - 40px);
    border-radius: 0%;
  }
  .question-title,
  .question-title-score {
    width: 100%;
  }
  .menu-modal {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .question-type-select {
    width: 100%;
    display: block;
    outline: none;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    padding: 0.375rem 2.25rem 0.375rem 0.75rem;
    line-height: 1.5;
    background-color: #fff;
  }
  .big-screen {
    display: none;
  }
  .navigation {
    width: calc((100% - 60px) / 3) !important;
  }
  .question-score {
    max-width: 100%;
    width: 100%;
  }
  .input-score {
    width: 50px;
  }
  /* .question-options{
        background-color: #fafafa;
        position: fixed;
        margin: 0;
        bottom: 0;
        right: 0;
        padding: 7px;
        border: 1px solid #ccc;
        border-radius: 5px;
        display: flex;
    } */
  .question-options {
    background-color: transparent;
    position: unset;
    margin: 0;
    bottom: 0;
    right: 0;
    padding: 0;
    border: unset;
    border-radius: unset;
    display: flex;
    flex-direction: row;
    box-shadow: none;
    align-items: center;
  }
  .menu-modal .nav-form-menu-icon {
    margin: 30px 0;
    width: 4rem;
    height: auto;
    float: unset;
  }
  #menu-btn {
    display: block;
  }
  .not-small-screen {
    display: none !important;
  }
}

@media only screen and (min-width: 768px) {
  .small-screen {
    display: none;
  }
  #menu-btn {
    display: none;
  }
}
